@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/*Reset*/
html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}