@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/*Reset*/
html, body, #root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .gradient-primary {
      background: radial-gradient(circle, rgba(255, 249, 87, 0.38) 44%, rgba(255, 121, 87, 1) 85%);
  }

  .text-gradient {
      background: linear-gradient(90deg,rgba(255, 207, 87, 0.99) 29%, rgba(255, 121, 87, 1) 55%);
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text; 
    }
  }
